body{
	font-family:calibri !important;
}
.logotext{
	margin-left:10%;
}
.logotext h3{
	width:30%;
	margin:0%;
}
.card-img-top{
    padding:10px;
	width:100px;
	height:100px;
	margin:auto;
}

.card-body{
	margin:auto;
}

.filterbar1 select{
	width:50%;
	float:right;
	margin:auto;
}
.filterbar2 select{
	width:50%;
	float:left;
	margin:auto;
}