@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";

.list-unstyled{
    width: 100%;
}
.list-unstyled li{
    background-color: #ddd;
    border: 1px solid #f2f2f2;
    width: 100%;
    margin: 1%;
}
.nav-link{
	cursor:pointer;
}

.modal-dialog{
	font-family:calibri !important;
}