<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IGT Kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" routerLink="/products">
        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
	<!-- Adding the cart modal in the top navbar -->
    <ngbd-modal-basic></ngbd-modal-basic>
    
  </div>
</nav>
